body {
  min-width: 768px;
  background: #e8efee;
  font-family: Questrial;
}

* {
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
}

footer {
  display: block;
  background: #35564b;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  color: white;
}

.warning {
  display: block;
  background: #35564b;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  color: white;
  position: sticky;
  top: 0px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 12px;
}

.navbar {
  box-shadow: 0 -1.4px 6px 0 #97a2a0;
  padding: 0px 20px;
  position: sticky;
  top: 38.4px;
  background: white;
  z-index: 10;
}

.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.navbar__left {
  display: flex;
}

.navbar__site-name a,
.navbar__site-name:visited a {
  color: #489846;
  font-size: 36px;
  font-family: Questrial;
}

.navbar__list {
  list-style: none;
  display: flex;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

.navbar__list li {
  margin-left: 12px;
  transition: background 0.1s;
}

.navbar__list a {
  display: block;
  text-decoration: none;
  color: #010101;
  padding: 12px 20px;
}

.navbar__list li:hover {
  background: #35564b;
}

.navbar__list li:hover a {
  color: white;
}

.articles__wrapper {
  min-height: calc(100vh - 30px - 38.4px - 60px - 38.4px);
}

.articles {
  max-width: 768px;
  background: white;
  padding: 30px 10px;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 90%;
}

.article + .article {
  margin-top: 10px;
}

.article__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.article__title {
  font-size: 24px;
}

.article__title a,
.article__title a:visited {
  color: black;
}

.article__info {
  background: lightgray;
  padding: 5px;
}

.article__edit-btn {
  padding: 5px 10px;
  border: 1px solid #cdcdcd;
  color: gray;
  font-size: 14px;
}

.hide > .article__body > .article__content {
  max-height: 160px;
  overflow: hidden;
}

.article__bottom {
  margin: 10px 0px;
}

.article__read-btn {
  padding: 10px 20px;
  border: 1px solid #cdcdcd;
  color: black;
  cursor: pointer;
}

.blog__login {
  max-width: 500px;
  background: white;
  padding: 30px;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.blog__title {
  display: inline-block;
}

.blog__btn, 
.blog__submit-btn {
  background: white;
  padding: 10px 20px;
  border: 1px solid #cdcdcd;
  color: black;
  cursor: pointer;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 5px;
  border: 1px solid #cdcdcd;
  margin-bottom: 10px;
}

.blog__login-form {
  width: 100%;
}

.article__content.view {
  height: 0%;
  max-height: 100%;
}

.hide > .article__body > .article__content.list {
  max-height: 50px;
  overflow: hidden;
}

.admin.article__info {
  background: white;
  color: gray;
  min-width: 41.5%;
}

.admin.article {
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.admin .article__head {
  margin-bottom: 0px;
}

.admin .article__head .article__title {
  font-size: 16px;
}

.blog__error {
  color: red;
  align-self: flex-start;
  margin-bottom: 10px;
}

.blog__textarea {
  width: 100%;
  border: 1px solid #cdcdcd;
  padding: 10px;
  height: 200px;
  resize: vertical;
}

.ck-editor__editable_inline {
  height: 200px;
  resize: vertical;
  margin-bottom: 10px;
}

.blog__bottom {
  text-align: center;
  margin-top: 10px;
}

.paginator {
  margin-top: 20px;
}

.paginator a,
.paginator a:visited {
  border: 1px solid #cdcdcd;
  padding: 5px;
  color: black;
}

.paginator a + .paginator a {
  margin-left: 5px;
}

.article.category {
  padding: 10px;
}

.category .article__head {
  margin-bottom: 0px;
}

.section__head {
  display: flex;
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 20px;
}

.section__title {  
  font-size: 24px;
  margin-right: 5px;
}

.section__head .blog__error {
  align-self: flex-end;
  margin-bottom: 0px;
}

.article__category-title a,
.article__category-title a:visited {
  color: black;
}

.article__category-count {
  margin-left: 5px;
}

.article__category a, 
.article__category a:visited {
  color: black;
}

.article__btn-block {
  min-width: 20%;
}