$font-main: Questrial;
$color-background: #e8efee;
$color-logo: #489846;
$deep-green-01: #35564b;
$font-size-logo: 36px;
$font-size-title: 24px;
$width-tablet: 768px;
$width-screen: 1280px;
$border-gray: 1px solid #cdcdcd;
$border-black: 1px solid black;
$form-box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);