body {
  background: rgba(0, 0, 0, 0.1);
}

.wrapper {
  border-top: 8px solid #fad312;
  max-width: 645px;
  background: white;
  padding: 50px 0px 35px 40px;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  margin: 10% auto;
}

.form__title {
  font-family: MicrosoftJhengHei;
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.form__info {
  margin-top: 35px;
  font-size: 14px;
  line-height: 1.5em;
  font-family: MicrosoftJhengHei;
}

.form__required {
  margin-top: 22px;
  margin-bottom: 55px;
  color: #e74149;
  font-size: 16px;
  font-family: MicrosoftJhengHei;
}

.form__input + .form__input {
  margin-top: 40px;
}

.form__input-title {
  font-size: 20px;
  position: relative;

}

.required::after {
  content: "*";
  color: #e74149;
  font-size: 16px;
  position: absolute;
  top: 0px;

}

.form__input-content {
  margin-top: 20px;
  font-size: 14px;
}

.form__input-option {
  line-height: 2em;

}

.form__input-desc {
  margin-top: 12px;
}

.form__submit {
  display:inline-block;
  margin-top: 55px;
  background: #fad312;
  border: none;
  padding: 15px 30px;
  border-radius: 3px;
  font-size: 15px;
  font-family: MicrosoftJhengHei;
  cursor: pointer;
}

.form__input-content input[type=text] {
  border: solid 1px #d0d0d0;
  width: 280px;
  font-size: 16px;
}

.form__input-content input[type=email] {
  border: solid 1px #d0d0d0;
  width: 280px;
  font-size: 16px;
}

.form__input-content input[type=tel] {
  border: solid 1px #d0d0d0;
  width: 280px;
  font-size: 16px;
}

footer {
  background: #000000;
  color: #999999;
  font-size: 13px;
  text-align: center;
  padding: 24px 0px;

}

@media(max-width: 768px) {
  .form__title {
    font-size: 30px;
  }

  .form__input-title {
    font-size: 18px;
  }

  .required::after {
    font-size: 14px;
  }

  .form__input-desc {
    margin-top: 10px;
  }

  footer {
    padding: 15px;
    font-size: 10px;
  }

  .form__input-content input[type=text] {
    width: 220px;
  }
  .form__input-content input[type=email] {
    width: 220px;
  }
  .form__input-content input[type=tel] {
    width: 220px;
  }
}